[submodule "submodules/FreeRTOS-Kernel"]
	path = submodules/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "submodules/cmsis-device-f0"]
	path = submodules/cmsis-device-f0
	url = https://github.com/STMicroelectronics/cmsis-device-f0.git
[submodule "submodules/CMSIS_6"]
	path = submodules/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6.git
[submodule "submodules/stm32f0xx-hal-driver"]
	path = submodules/stm32f0xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f0xx-hal-driver.git
